body{
    overflow: hidden;
    background-color: black;
}

.container{
    margin-top: 4rem;
}
.count{
    font-size: 10rem;
    color: #ffffff;
}

h1{
    color: white;
    background-color: #292929;
    padding: 0.8rem 1rem;
    -moz-box-shadow:    inset 0 0 10px #ffffff;
    -webkit-box-shadow: inset 0 0 10px #ffffff;
    box-shadow:         inset 0 0 10px #ffffff;
    border-radius: 15px;
}

.btn{
    background-color: black;
    font-size: 1.5rem;
    padding: 0.2rem 1rem;
    border-radius: 10px;
    -moz-box-shadow:    0 0 10px #ffffff;
    -webkit-box-shadow: 0 0 10px #ffffff;
    box-shadow:         0 0 10px #ffffff;
}

.counter {
    margin: 3rem auto;
    padding: 0 0 3rem 0;
    background-color: #292929;
    -moz-box-shadow:    inset 0 0 10px #ffffff;
    -webkit-box-shadow: inset 0 0 10px #ffffff;
    box-shadow:         inset 0 0 10px #ffffff;
    border-radius: 15px;
}